.eclp_wrapper{
	width: 65% !important;
	padding: 40px !important;
	box-sizing: border-box;
	background: #fff !important;  /* fallback for old browsers */
	box-shadow: 0 1px 3px 0 rgba(21,27,38,.15) !important;
	float: left;
	border-top: 3px solid rgb(26, 188, 156)
	
}
.eclp_wrapper h1,h3{
	color:#000;
	margin-bottom: 10px;
	font-weight: 400;
}
.eclp_wrapper h1{
	text-align:center;
}
.eclp_wrapper input[type="text"]{
	width: 100% !important;
}
.input_wrapper{
	display: flex;
	width: 100%;
	margin-bottom: 40px;
}
.input_wrapper input[type="text"]{
	width: 85%;
	border:1px solid #ECEFF1 !important;
	margin-right: 10px;
	padding:5px;
}
button.select_logo,button.select_bg_image  {
    background:black;
    color:#fff;
    border:none;
    padding:7px 20px;
    border-radius:5px
}
.eclp_wrapper input[type="submit"]{
	background-color: rgb(26, 188, 156);
	border:1px solid rgb(26, 188, 156);
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    box-sizing: content-box;
    background-color: rgb(26, 188, 156);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    outline: 0px !important;
    
}
.eclp_wrapper input[type="submit"]:hover{
	background-color:rgb(20, 143, 119);
	
}
.eclp_note{
	font-size: 14px;
	font-style: italic;
}
.eclp_style_wrapper{
	border:1px solid #ECEFF1 !important;
	padding: 20px;
	margin-bottom: 40px;
}
.eclp_style_wrapper h2{
	text-align: center;
}
.eclp_color_div_wrapper{
	margin-bottom: 40px;
}
.eclp_color_div{
	display: inline-block;
}
.eclp_option{
	width: 35% !important;
	float: left;
	padding:0px 20px !important;
	box-sizing: border-box;
}
.eclp_option_wrapper{
	background: #fff !important; 
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15) !important;
    padding: 20px;
    border-top: 3px solid rgb(26, 188, 156);
}
.eclp_current{
	width:10px;
	height:10px;
	display: inline-block;
	/*background: rgb(26, 188, 156);*/
	border-radius: 50%;
	margin-right: 10px;
}
.eclp_option_btn{
	background: none;
	border:none;
	padding: 0px;
	font-size: 16.9px;
	margin-top: 16.9px;
	margin-bottom: 10px;
	display: inline-block;
}
.eclp_preview{
	margin-left: 25px;
}